In [24]:
import pandas as pd

In [25]:
# file path variables
pitching_data = '../Data/Pitching_Data.csv'
hitting_data = '../Data/Hitting_Data.csv'

In [26]:
# read csv
pitching_data_df = pd.read_csv(pitching_data, encoding="ISO-8859-1")
hitting_data_df = pd.read_csv(hitting_data, encoding="ISO-8859-1")

In [27]:
# show pitching header
pitching_data_df.head()

,Year,Team,W,L,ERA,G,GS,CG,ShO,SV,...,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256
0,2019,Dodgers,106,56,3.39,707,162,3,1,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,Astros,107,55,3.66,654,162,2,1,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Rays,96,66,3.67,765,162,0,0,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Indians,93,69,3.79,684,162,6,5,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,Cardinals,91,71,3.82,704,162,1,1,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# show hitting header
hitting_data_df.head()

,Year,Team,G,AB,PA,H,1B,2B,3B,HR,...,BB,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG
0,2019,Astros,2309,5613,6394,1538,899,323,28,288,...,645,17,1166,66,57,10,146,67,27,0.274
1,2019,Twins,2320,5732,6392,1547,899,318,23,307,...,525,21,1334,81,41,10,101,28,21,0.270
2,2019,Red Sox,2455,5770,6475,1554,937,345,27,245,...,590,36,1382,49,44,20,127,68,30,0.269
3,2019,Yankees,2312,5583,6245,1493,880,290,17,306,...,569,18,1437,49,33,10,113,55,22,0.267
4,2019,Rockies,2452,5660,6288,1502,914,323,41,224,...,489,25,1503,43,43,51,111,71,31,0.265